/* Global heading styles */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Adjust h1 and h2 sizes */
h1 {
  font-size: 250%;
  margin-bottom: 1em;
}

h2 {
  font-size: 150%;
}

/* General body styling */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  max-width: 80ch;
  margin: 0 auto;
  padding: 1em;
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--nav-border-color);
  background-color: var(--nav-background-color);
}

/* Style the links */
nav a {
  flex: 1;
  text-decoration: none;
  color: var(--nav-link-color);
  text-align: center;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

/* Highlight the current page */
nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}

/* Add hover styles */
nav a:hover {
  background-color: var(--nav-hover-background);
  color: var(--nav-hover-text-color);
}

/* Theme switcher button */
#theme-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

#theme-button:hover {
  opacity: 0.8;
}

/* Theme variables */
:root.light-theme {
  --background-color: #f8f8f8;
  --text-color: #333;
  --nav-background-color: #ffffff;
  --nav-border-color: oklch(80% 3% 200);
  --nav-link-color: #333;
  --nav-hover-background: #e0e0e0;
  --nav-hover-text-color: #000;
  --button-background-dark: #333;
  --button-text-color-dark: #f8f8f8;
  --color-accent: oklch(65% 50% 0);
}

:root.dark-theme {
  --background-color: #1e1e1e;
  --text-color: #f8f8f8;
  --nav-background-color: #333333;
  --nav-border-color: oklch(50% 10% 200);
  --nav-link-color: #f8f8f8;
  --nav-hover-background: #444444; /* Darker hover background for better contrast */
  --nav-hover-text-color: #f0f0f0; /* Slightly lighter text color for better readability */
  --button-background-light: #dddddd;
  --button-text-color-light: #333;
  --color-accent: oklch(80% 15% 40);
}

/* Adjust button appearance for dynamic theme */
#theme-button.light-theme {
  background-color: var(--button-background-dark);
  color: var(--button-text-color-dark);
}

#theme-button.dark-theme {
  background-color: var(--button-background-light);
  color: var(--button-text-color-light);
}

/* Project styles */
.project-content {
    margin-top: 1em;
}

.project-year {
    font-family: Baskerville, "Baskerville Old Face", serif;
    font-variant-numeric: oldstyle-nums;
    color: #666;
    margin-top: 0.5em;
}
